version: '3.2'

services:

  app:
    image: dasos/mediasort
    ports:
     - 8000:8080
    #volumes:
     #- /input:/input
     #- /output:/output
     #- /delete:/delete
     #- /config:/config
    environment:
     - 'FLASK_DB_PATH=/config/mediasort.db'
     #- 'FLASK_DRY_RUN=TRUE'
     # Uncomment the file above to actually make changes to your files
     #- 'FLUSH=TRUE'
     # Uncomment the file above make the refreshing of the DB much faster. Don't do it if you share the DB with anything.
