exifread==3.0.0
Flask==3.0.0
PyExifTool==0.5.5
python-dateutil==2.8.2
Pillow==10.2.0 
ffmpeg-python
static_ffmpeg
gunicorn
flask-redis
flask-executor
requests
codetiming
pytest
fakeredis>=2.9.0
pytest-cov
flake8
black
