{% extends 'base.html' %}

{% block content %}
<div class="container mt-2">
	<div class="row">
		<div class="col-8">
			<h1>{% block title %} MediaSort {% endblock %}</h1>
		</div>
		<div class="col-4 text-right">
			<span id="stats" class="badge badge-primary"></span>
			<span id="status" style="display: none">
				<i class="fas fa-spinner fa-spin"></i>
			</span>
			<span id="reload">
				<a href="#" id="reload"><i class="fas fa-redo-alt"></i></a>
			</span>
		</div>
	</div>
</div>

<div id="sets-container">
{% for set in sets %}
{% include 'set.html' %}
{% endfor %}
</div>

<div id="empty-sets-container">
<h2>There is nothing to sort</h2>

<p>Try hitting the refresh button, or check the configuration</p>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div id="fake-set" class="set"> <!-- This is a fake set to store the id -->
    <form class="form-inline">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this set? All photos in it will be moved to the delete directory.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger action-button" name="action" value="delete">Delete</button>
      </div>
    </div>
  </form>
  </div>
  </div>
</div>

<script type="text/javascript">

<!-- The typeahead stuff -->

var names = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: {
  	cache: false,
  	url: "api/suggestions"
  }
});

// Called when a set is added or changed
function setEvents() {
	
	// Enable tooltips
	$('[data-toggle="tooltip"]').tooltip();
	
	// Hides broken images
	$('img').on('error', function() {
	      $(this).hide();
	      $(this).parent().next().removeClass("d-none");
	});
	
	// Typeahead :)
	$('[name=name].typeahead:not(.tt-input)').typeahead({
	  hint: true,
	  highlight: true,
	  minLength: 0
	},
	{
	  name: 'name',
	  source: names
	});
	
};
setEvents();


// Reloads, then redirects
$('#reload').on('click', function (event) {
    $.ajax({
      url: "/api/reload"
    }).then(function(data) {
    	statusCheck();
    });
    /*.then(function(data) {
      window.location('/');
    });*/
});

var setsContainer = $('#sets-container');
var emptyStateContainer = $('#empty-sets-container');

// This is a bit of a workaround, but it displays a div if there are no sets
function decideEmptyState() {
	if (setsContainer[0].innerText.length == 0) {
	    emptyStateContainer.show('slow');
	  } else {
	  	emptyStateContainer.hide();
	  }
};
decideEmptyState();


// Adds the set id into the fake set div in the delete pop-up box
$('#confirmDelete').on('show.bs.modal', function (event) {
  var id = $(event.relatedTarget).closest(".set").data("set_id");
  $('#fake-set').data("set_id", id);
});

// Deals with all the buttons. Finds information in the dom, constructs the query, then posts to the API
$('#sets-container,#confirmDelete').on('click', '.action-button', function(e) {
	var button = $(e.currentTarget);    	
	var form = button.closest('form');
	
	// This will find the set id in either the real or fake set id
	var set_id = form.closest(".set").data("set_id");

	var name_element = form.find('input[name=name]');
	var name = form.find('input[name=name]').val();
	var action = button.attr('value');
	var url = "/api/set/" + action + "/" + set_id;
	var d = {'name': name};
	
	$.post(url, d, function(result) {
		
		// Adds the name to the suggestions engine
		names.add([name]);
		
		// Close the delete modal if it is open
		$('#confirmDelete').modal('hide');
		
		// I don't think this finds the fake set, because jQuery doesn't actually update the dom when then data is set
		var set_element = $('[data-set_id="' + set_id + '"]'); //$('#set-'+set_id);

		set_element.hide('slow', function() { 
			set_element.remove(); 
			loadMore(); // Loads more if we are at the bottom
		});
		set_element.next("hr").remove();
		
		statusCheck();
		
	}, 'json').fail(function(result) {
		message = result.responseJSON.data.error;
		name_element.tooltip({ 'title': message, 'trigger': 'manual'}).tooltip('show');
	});

});



// Clears the tooltip when you click a button
$('#sets-container').on('click', 'button', function(e) {
	$('input[name=name]').tooltip('hide');
});




// Gets more more thumbnails on click
$('#sets-container').on('click', '.more-thumbnails', function(e) {
	e.preventDefault(); 
    var target = $(this).closest(".set");
    var name = target.find('input[name=name]').val();
	$(this).replaceWith('<i class="fas fa-spinner fa-spin"></i>');
	$.ajax({
       //url: '/set/' + $(this).data('set_id') + '?' + jQuery.param({start: start + difference, end: end + difference}),
	   url: '/set/' + $(this).data('set_id'),
       success: function(result) {
	   	 target.next("hr").remove();
         target.replaceWith(result);
         target.find('input[name=name]').val(name);
         console.log(target.find('input[name=name]').val())
		 setEvents()
    }
	});
});


// Removes an item from a set
$('#sets-container').on('click', '.remove-from-set', function(e) {
	e.preventDefault();

    var set = $(this).closest(".set");
	var item = $(this).closest(".item");
	
	$.post('/detach/' + set.data('set_id') + '/' + item.data("item_id"),
	function(result) {
		 //item.hide('slow', function(){ item.remove(); });
		 item.remove();
         set.before(result);//.hide() //.show('slow');
		 setEvents();
    });
});


// Performs a status check on load

var statusCheck = function() {
  console.log('Sending AJAX request...');
  $.ajax({
    url: "/api/status"
  }).then(function(data) {
    console.log("Status: ", data)
    $('#stats').show().html(`${data.set_count} Sets ${data.item_count} Items`)
    if (data.status == "loading") {
    	$('#status').show()
    	$('#reload').hide()
      setTimeout(statusCheck, 5 * 1000);
    } else {
    	$('#status').hide()
    	$('#reload').show()
    }
  });
}

statusCheck();





var loadingSets = false;

$(window).on("scroll", loadMore());

function loadMore() {
    const scrollHeight = $(document).height();
    const scrollPos = Math.floor($(window).height() + $(window).scrollTop());
    const isBottom = scrollHeight - 100 < scrollPos;
    
    //console.log(isBottom, currentscrollHeight, scrollHeight)

    //if (isBottom && currentscrollHeight < scrollHeight) {
    if (isBottom && !loadingSets) {
    	loadingSets = true;
		//var counter = $('.set').length - 1; // Reducing by one to miss out the fake set in the modal
		var last_id = $('.set').not("#fake-set").last().data('start_timestamp');
		if (!last_id) last_id = 0;
	    $.ajax({
		    url: "set/more_from/" + last_id,
		
	        success: function (result) {
	        	//console.log(result)
	        	$('#sets-container').append(result);
				setEvents();

	        	loadingSets = false;
	        },
			
			complete: function () {
				decideEmptyState();
			},
	    });
        //currentscrollHeight = scrollHeight;
    }
	}


</script>

<style>
div.striped > div:nth-of-type(odd) {
    background: #eee;
}


</style>

{% endblock %}