  <div class="item col-lg-4 col-md-6 col-12 mb-4" data-item_id="{{ item.id }}">
	  <div class="card h-100">
		<a href="thumbnail/detail/{{ item.id }}" target="_blank"><img src="thumbnail/{{ item.id }}" loading="lazy" class="card-img-top" /></a>
		<div class="alert alert-warning text-center d-none" role="alert">No thumbnail available</div>
		<!--<a class="remove-from-set" data-set="{{ set_id }}" data-item="{{ i }}" href="javascript:undefined"><i class="fas fa-unlink"></i></a>-->
		<div class="card-body">
			<div class="striped">
				<div class="row py-2">
					<div class="col-5 px-2 font-weight-bold">Filename</div>
					<div class="col px-2 text-right text-truncate data-toggle="tooltip" title="{{ item.orig_filename }}"">{{ item.orig_filename }}</div>
				</div>
				{% if item.orig_directory is not equalto base_path %}
				<div class="row py-2">
					<div class="col-5 px-2 font-weight-bold">Directory</div>
					<div class="col px-2 text-right text-truncate" data-toggle="tooltip" title="{{ item.orig_directory }}">{{ item.orig_directory | replace(base_path, "") }}</div>
				</div>
				{% endif %}
				{% set coords = item.get_coords() %}
				{% set location = get_location(coords) %}
				{% if location %}
				<div class="row py-2">
					<div class="col-5 px-2 font-weight-bold">Location</div>
					<div class="col px-2 text-right text-truncate" data-toggle="tooltip" title="{{ location }}">
					<a href="https://www.openstreetmap.org/?mlat={{ coords[0] }}&mlon={{ coords[1] }}#map=18/{{ coords[0] }}/{{ coords[1] }}" target="_BLANK">
					{{ location }}
					</a>
					</div>
					<!--<div class="col text-right text-truncate coords" data-set_id="{ { set.id }}" data-item_id="{ { item.id }}">
						<a href="https://www.openstreetmap.org/?mlat={ { coords[0] }}&mlon={ { coords[1] }}#map=18/{ { coords[0] }}/{ { coords[1] }}" target="_BLANK"><span>{ { coords }}</span></a></div>-->
				</div>
				{% endif %}
				<div class="row py-2">
					<div class="col-5 px-2 font-weight-bold">Date/time</div>
					<div class="col px-2 text-right text-truncate">{{ item.timestamp }}</div>
				</div>
			</div>
		{% if set.length > 1 %}
		<div class="float-right">
			<form class="form-inline">

			<input type="hidden" name="item_id" value="{{ item.id }}">
			<button type="button" class="btn btn-link remove-from-set"><i class="fas fa-unlink"></i> Remove from set</button>
			</form>
    	</div>
		{% endif %}
		</div>
		</div>
  </div>
<hr/>
