{% for item in set.set[start:end] %}
  <div class="col-lg-4 col-md-6 col-12 mb-4">
	  <div class="card h-100">
		<a href="thumbnail/1200/{{ set.id }}/{{ item.id }}.jpg" target="_blank"><img src="thumbnail/{{ set.id }}/{{ item.id }}.jpg" loading="lazy" class="card-img-top" /></a>
		<!--<a class="remove-from-set" data-set="{{ set_id }}" data-item="{{ i }}" href="javascript:undefined"><i class="fas fa-unlink"></i></a>-->
		<div class="card-body">
		<table class="table table-condensed table-striped table-auto">
			<tbody>
				<tr>
					<th>Filename</th>
					<td class="text-right no-overflow-ellipse">{{ item.orig_filename }}</td>
				</tr>
				{% if item.orig_directory is not equalto base_path %}
				<tr>
					<th>Directory</th>
					<td class="text-right no-overflow-ellipse">{{ item.orig_directory | replace(base_path, "") }}</td>
				</tr>
				{% endif %}
				<tr>
					<th>Location</th>
					<td class="text-right no-overflow-ellipse coords" data-set_id="{{ set.id }}" data-item_id="{{ item.id }}">
						{% if item.coords %}
						<a href="https://www.openstreetmap.org/?mlat={{ item.coords[0] }}&mlon={{ item.coords[1] }}#map=18/{{ item.coords[0] }}/{{ item.coords[1] }}" target="_BLANK"><span>{{ item.coords }}</span></a></td>
						{% else %}
						<span>{{ item.coords }}</span>
						{% endif %}
				</tr>
				<tr>
					<th>Date/time</th>
					<td class="text-right no-overflow-ellipse">{{ item.timestamp }}</td>
				</tr>
			</tbody>
		</table>
		<div class="float-right">
			<form action="/remove/{{ set.id }}/{{ item.id }}" method="post" class="form-inline">
			<button type="submit" class="btn btn-link"><i class="fas fa-unlink"></i> Remove from set</button>
			</form>
    	</div>
		</div>
	  </div>
  </div>
{% endfor %}
{% if set.set | length > end %}
<div class="container" id="pawn">
  <div class="row">
    <div class="col-12 text-right">
      <button type="submit" class="btn btn-secondary more-thumbnails" data-set_id="{{ set.id }}" data-start="{{ start }}" data-end="{{ end }}"><i class="fas fa-chevron-circle-down"></i> More</button>
    </div>
  </div>
</div>
{% endif %}